:root {
    --nav-color: #291e1e;
    --primar-color: #1a1c19;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(21, 21, 21); */
}
body {
    font-family: 'Museo Sans', sans-serif;
    background-color: #1a1c19;
    color: white;
}